@using EntityLayer.Concrete
@model List<Product>
<div class="box">
    <div id="feature-slider" class="row owl-carousel product-slider">
        @foreach (var item in Model)
        {
            <div class="item product-slider-item">
                <div class="product-thumb transition">
                    <div class="image product-imageblock">
                        <a href="/Home/ProductDetailByCategoryID/@item.ID"> <img src="@item.Img1Path" alt="@item.Name" title="@item.Name" class="img-responsive" style="width:280px;height:373px"> </a>

                    </div>
                    <div class="caption product-detail">
                        <h4 class="product-name"><a href="/Home/ProductDetailByCategoryID/@item.ID" title="@item.Name">@item.Name</a></h4>
                        @*<p class="price product-price"> <span class="price-new">@item.Price</span></p>*@
                    </div>

                </div>
            </div>
        }
    </div>
</div>
