@model  EntityLayer.Concrete.Setting
@*<li>
        <i class="fa fa-map-marker"></i><span class="location2">
            @Html.DisplayFor(x => x.Address)<br>
            @Html.DisplayFor(x => x.Province)/@Html.DisplayFor(x => x.District)
        </span>
    </li>*@
@*<li><i class="fa fa-envelope"></i><span class="mail2"><a href="@Html.DisplayFor(x=>x.GoogleUrl)">@Html.DisplayFor(x => x.GoogleUrl)</a></span></li>*@
 <li><i class="fa fa-mobile"></i><span class="phone2">@Html.DisplayFor(x => x.TelephonePhone)</span></li>

