@model  EntityLayer.Concrete.Setting
<li class="instagram"><a href="@Html.DisplayFor(x=>x.InstgramUrl)"><i class="fa fa-instagram"></i></a></li>
    <li class="facebook"><a href="@Html.DisplayFor(x=>x.FacebookUrl)"><i class="fa fa-facebook"></i></a></li>
@*<li class="twitter"><a href="@Html.DisplayFor(x=>x.TwitterUrl)"><i class="fa fa-twitter"></i></a></li>
    <li class="gplus"><a href="@Html.DisplayFor(x=>x.GoogleUrl)"><i class="fa fa-google-plus"></i></a></li>
    <li class="youtube"><a href="@Html.DisplayFor(x=>x.YoutubeUrl)"><i class="fa fa-youtube-play"></i></a></li>*@
