@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Product>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Ürün İşlemleri</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 8%">
                            Ürün Adı
                        </th>
                        <th style="width: 8%">
                            Ürün Bilgisi
                        </th>
                        @*<th style="width:8%">
                            Ürün Fiyatı
                        </th>*@
                        <th style="width: 12%" class="text-center">
                            Ürün Kategorisi
                        </th>
                        <th style="width: 8%" class="text-center">
                            Ürün Resim 1
                        </th>
                        @*<th style="width: 8%" class="text-center">
                            Ürün Resim 2
                        </th>
                        <th style="width: 8%" class="text-center">
                            Ürün Resim 3
                        </th>
                        <th style="width: 8%" class="text-center">
                            Ürün Resim 4
                        </th>
                        <th style="width: 8%" class="text-center">
                            Ürün Resim 5
                        </th>*@
                        <th style="width: 20%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.ID
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @if (@item.Content.Length > 30)
                                {
                                    @item.Content.Substring(0, 30)
                                }
                                else
                                {
                                    @item.Content
                                }
                            </td>
                            @*<td>
                                @item.Price
                            </td>*@
                            <td class="project-state">
                                <span class="">@item.Category.CategoryName</span>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item" style="margin-left:35%">
                                        <img alt="Avatar" class="table-avatar" src="@item.Img1Path">
                                    </li>
                                </ul>
                            </td>
                            @*<td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <img alt="Avatar" class="table-avatar" src="@item.Img2Path">
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <img alt="Avatar" class="table-avatar" src="@item.Img3Path">
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <img alt="Avatar" class="table-avatar" src="@item.Img4Path">
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <img alt="Avatar" class="table-avatar" src="@item.Img5Path">
                                    </li>
                                </ul>
                            </td>*@
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="/Admin/UploadProductImage/@item.ID">
                                    <i class="fas fa-folder">
                                    </i>
                                    Resim Ekle
                                </a>
                                <a class="btn btn-info btn-sm" href="/Admin/EditProduct/@item.ID">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="btn btn-danger btn-sm" href="/Admin/DeleteProduct/@item.ID">
                                    <i class="fas fa-trash">
                                    </i>
                                    Sil
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Product", new { page }))
<a href="/Admin/AddProduct/" class="btn btn-primary">Yeni Ürün Oluşturma</a>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("İşlem başarıyla gerçekleşti.");
        };
    </script>
}

